.logotitle{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.solution{
    color: rgb(2, 2, 176);
    font-size: 50px;
    margin-top: 25px;
    margin-left: 35px;
}

.solutionOne{
    color: green;
    font-size: 50px;
    margin-top: 25px;
    margin-left: 35px;
}

.parag{
    color: rgb(188, 183, 183);
    font-size: 16px;
    margin-left: 25px;
    padding-left: 25px;
    .specialbgc{
        color: white;
        font-size: 20px;
    }
}

.contact_us{
    color: rgb(2, 2, 176);
    font-size: 50px;
    margin-top: 25px;
    margin-left: 35px;
    text-align: center;

}

.prise_RDV{
    color: rgb(2, 2, 176);
    font-size: 50px;
    margin-top: 25px;
    text-align: center;

}

.footertitle{
    text-align: center;
    color: white;
    font-size: 24px;
}
.orangetitles{
    color: orange;
    font-size: 50px;
    text-align: center;
}
.go{
    color: grey;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}