*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Services {
    padding: 30px 0;
    margin-top: 4rem;
  }
  
  .Services-list, .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .Services-list .ooun, .work-list .ooun {
    // background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 30px;
    transition: background 0.5s, transform 0.5s;
  }
  .Services-list i, .work-list i {
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 30px;
  }
  .Services-list h2, .work-list h2, .work-list h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .Services-list .x, .work-list .x {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .ooun:hover {
    background: #080808;
    transform: translateY(-10px);
  }
   .photo1{
    background: url(../../photo/2.jpeg);
    width: 100%;
    height: 50vh;
    background-size: cover;
  }